node_modules
config/**
dist/**
**/dist/**
tests/e2e/screenshots/**
**/*.html
**/*.scss
**/*.css
**/*.json
**/*.md
**/*.jpg
**/*.svg
**/*.png
**/*.csv
**/*.yml
**/apiTypes/*.tsx
**/*.mp3
src/apps/tms/types/apiTypes.tsx
src/apps/fleet-planner/types/apiTypes.tsx
src/mobile/**/*
src/packages/**/*
src/apps/**/*/graphql/*.ts
src/components/**/*/graphql/*.ts
src/types/graphqlTypes.ts
schema.graphql
