node_modules
config/**
dist/**
**/dist/**
tests/e2e/screenshots/**
**/*.html
**/*.scss
**/*.css
**/*.json
**/*.md
**/*.jpg
**/*.svg
**/*.png
**/*.csv
**/*.yml
**/apiTypes/*.tsx
**/*.mp3
src/apps/tms/types/apiTypes.tsx
src/apps/fleet-planner/types/apiTypes.tsx
src/mobile/**/*
src/packages/**/*
src/**/graphql/*.ts
src/rogers/types/graphqlTypes.ts
types/graphqlTypes.ts
src/schema.graphql
exercises/*.graphql
